{% extends "base.html" %}
{% block title %}Yeni Çalışan Ekle{% endblock %}

{% block content %}
<h3>Yeni Çalışan Ekle</h3>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="mb-3">
        <label>Ad Soyad</label>
        {{ form.name }}
    </div>
    <div class="mb-3">
        <label>Email</label>
        {{ form.email }}
    </div>
    <div class="mb-3">
        <label>Departman</label>
        {{ form.department }}
    </div>
    <div class="mb-3">
        <label for="work_start_date" class="form-label">İşe Başlama Tarihi</label>
        {{ form.work_start_date }}
      </div>
    
      <div class="mb-3">
        <label for="role" class="form-label">Rol</label>
        {{ form.role }}
      </div>

    <button type="submit" class="btn btn-success">Kaydet</button>
</form>
<p class="text-muted mt-2">Yeni kullanıcı için varsayılan şifre: <strong>{{ default_password }}</strong></p>
{% endblock %}
