{% extends "base.html" %}
{% block title %}Çalışanlar{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Çalışan Listesi</h2>
    
        <form method="get" class="mb-3">
            <div class="row">
              <div class="col-auto">
                <label for="page_size" class="form-label">Sayfa Başına Kayıt:</label>
                <select class="form-select" name="page_size" id="page_size" onchange="this.form.submit()">
                  {% for size in page_size_options %}
                    <option value="{{ size }}" {% if page_size == size %}selected{% endif %}>{{ size }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </form>
    
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Ad</th>
            <th>Email</th>
            <th>Departman</th>
            <th>Rol</th>
            <th>İşe Başlama</th>
            <th>Aksiyonlar</th>
        </tr>
    </thead>
    <tbody>
        {% for e in page_obj %}
        <tr>
            <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
            <td>{{ e.name }}</td>
            <td>{{ e.email }}</td>
            <td>{{ e.department.name }}</td>
            <td>{{ e.get_role_display }}</td>
            <td>{{ e.work_start_date }}</td>
            <td>
                <a href="{% url 'update_employee' e.id %}" class="btn btn-sm btn-warning">Düzenle</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav aria-label="Sayfalama"></nav>
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?{{ query_string }}&page={{ page_obj.previous_page_number }}">Önceki</a>
        </li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">Önceki</span></li>
      {% endif %}
  
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="page-item active"><span class="page-link">{{ num }}</span></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?{{ query_string }}&page={{ num }}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}
  
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?{{ query_string }}&page={{ page_obj.next_page_number }}">Sonraki</a>
        </li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">Sonraki</span></li>
      {% endif %}
    </ul>
  </nav>

<a href="{% url 'create_employee' %}" class="btn btn-primary">Yeni Çalışan Ekle</a>
{% endblock %}
