{% extends "base.html" %}
{% block title %}Profilim{% endblock %}
{% block content %}
<h3>Profil Bilgilerim</h3>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="mb-3">
        <label>Ad Soyad</label>
        {{ form.name }}
    </div>
    <div class="mb-3">
        <label>Yeni Şifre</label>
        {{ form.new_password }}
    </div>
    <div class="mb-3">
        <label>Şifre Tekrar</label>
        {{ form.confirm_password }}
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>

<hr>

<h4>Diğer Bilgiler</h4>
<ul>
    <li><strong>Email:</strong> {{ employee.email }}</li>
    <li><strong>Departman:</strong> {{ employee.department.name }}</li>
    <li><strong>Rol:</strong> {{ employee.role }}</li>
    <li><strong>İşe Başlama Tarihi:</strong> {{ employee.work_start_date }}</li>
</ul>

{% endblock %}
